.top{
    display: block;
    position: relative;
}
.bottom{
    display: block;
    position: absolute;

}
#chartContainer{
    position: relative;
}
.table-container{
    position: absolute;
    display: block;
}


