#chartContainer{
    display: block;
    position: relative;
}
.canvasjs-chart-canvas{
    position: initial;
}
.canvasjs-chart-toolbar{
    position: relative;
}
.canvasjs-chart-credit{
    position: relative;
}
.table{
    position: relative;
}